.App {
  text-align: center;
}

body {
  background-color: #FFEBE0;
}

h1 {
  padding: 10px 20px;
  margin: 30px -10px;
  width: fit-content;
}

h2 {
  color: white;
}

.columns {
  display: flex;
}

form, .preview {
  padding: 20px;
  text-align: left;
  border: 1px solid black;
  width: 50vh;
  height: 100vh;
  margin: 0
}

.radio-buttons {
  display: flex;
  flex-direction: column;
}

div {
  margin: 10px;
}

.answer-choice {
  margin: 0;
}

button {
  margin: 10px;
}

#text-answer {
  margin-left: -10px;
}

#question {
  margin-left: 10px;
  width: 250px;
}

form {
  background-color: #ecb6e3;
}

.preview {
  background-color: #c4b7fa;
}